.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 190px; 
  margin-top: 100px;
}

.left-side {
  width: 10%;
}

.right-side {
  flex: 1;
  width: 100%;
  margin-left: 250px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px; 
  width: 100%; 
  margin-top: 20px;
}

.slider-label {
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkbox-item {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}



/* Bootstrap Button overrides */
.button-wrapper .button {
  font-size: 1rem;
  padding: 12px 30px;
  font-weight: bold;
  border-radius: 30px;
  background-color: #c2dfe3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #333; 
  border: 2px solid #c2dfe3; 
}

.button-wrapper .button:hover {
  background-color: #87b7c7;
  color: white; 
  border-color: #87b7c7;
}

.button-wrapper .button:active {
  background-color: #88a7b7;
  color: white;
  border-color: #88a7b7; 
}

.button-wrapper .button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(194, 223, 227, 0.6);
}

.button-wrapper .button:focus-visible {
  outline: 2px solid #88a7b7;
}
